.page.theme_light {
  --background-image: url('../images/cover-image-light.png');
	--font-family: 'IBM Plex mono', monospace;
	--decor-visibility: hidden;
	--color-shadow: #ff0070;
	--color-block: #ff8dcb;
	--color-block-title: #353430;
	--color-text-title: #353430;
	--color-page-title: #ffc2e6;
	--color-text-main: #353430;
	--background-color: #fff1f7;
	--color-decor: #353430;
	--color-hover: #35343066;
}

@media (prefers-color-scheme: light) {
	.page {
    --background-image: url('../images/cover-image-light.png');
		--font-family: 'IBM Plex mono', monospace;
		--decor-visibility: hidden;
		--color-shadow: #ff0070;
		--color-block: #ff8dcb;
		--color-block-title: #353430;
		--color-text-title: #353430;
		--color-page-title: #ffc2e6;
		--color-text-main: #353430;
		--background-color: #fff1f7;
		--color-decor: #353430;
		--color-hover: #35343066;
	}
}