body {
	--font-family: 'IBM Plex mono', monospace;
	--background-image: url('../images/cover-image-dark.png');
	--recording_deco-visibility: visible;
	--color-shadow: #ff0070;
	--color-block: #ff0070;
	--color-block-title: #ff0070;
	--color-page-title: #db00ff;
	--color-text-title: #000028;
	--color-text-main: #f1b2ce;
	--background-color: #000028;
	--color-decor: #ff0070;
	--color-hover: #ff007040;
}